@model Meal_planner.ViewModels.RecipeDetailViewModel


<h1>Recipe: @Model.Name</h1>

<table class="table">
    <tr>
        <th>Category</th>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <th>Ingredients</th>
        <td>@Model.Ingredients</td>
    </tr>
    @*<tr>
        <th>Instructions</th>
        <td>@Model.Instructions</td>
    </tr>*@


</table>

<a asp-controller="Recipe" asp-action="AddRecipe" asp-route-id="@Model.RecipeId">Add Additional Recipes</a>
