@model Meal_planner.ViewModels.EditRecipeViewModel


    <h1>Recipe: @Model.Name</h1>
    <form method="post" asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.RecipeId">
        @*<input type="hidden" asp-for="@Model.RecipeId" />*@
        <table class="table">
            <tr>
                <th>Name</th>
                <td>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" value="@Model.Name" />
                    <span asp-validation-for="Name"></span>
                </td>
            </tr>
            <tr>
                <th>Category</th>
                @*<td>@Model.Categories</td>*@
                <td>
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" asp-items="Model.Categories"></select>
                </td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td>
                    <label asp-for="Ingredient"> Ingredient</label>

                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <input type="checkbox" name="selectedIngredients" value="@ingredient.Id" />
                        <label for="@ingredient.Id"> @ingredient.Name</label>
                        <br />
                        @*<label for="@ingredient.Quantity">@ingredient.Quantity</label>
                        <label for="@ingredient.Measurement">@ingredient.Measurement</label>*@
                    }



                </td>
            </tr>



        </table>

        <input type="submit" asp-controller="Recipes" asp-action="Edit" asp-route-id="Id" value="Edit Recipe" />

    </form>
    